colorama >= 0.4
pyyaml
requests ~= 2.25.1
intelhex
EdgeDeviceProvisioning/tools/botocore-1.29.83-py3-none-any.whl
EdgeDeviceProvisioning/tools/boto3-1.26.83-py3-none-any.whl
EdgeDeviceProvisioning/tools/awscli-1.27.83-py3-none-any.whl
-r EdgeDeviceProvisioning/tools/provision/requirements.txt
